
body{
    background-color: white;
    padding: 100px;
}

/* header section */
header{
    
    
    background-color: white;
    padding: 50px;
    border-radius: 50px;
      }
h1{
    font-size: 40px;
    font-weight: 600;
  }


nav {
    
    display: flex;
    justify-content: space-between;
   }
   nav li{
       list-style: none;
       margin-left: 50px;
       font-weight: 500;
       font-size: 20px ;
       font-weight: 600;
         }
   nav ul{
       display: flex;
       align-items: center;
         }
 ul li a{
    text-decoration: none;
    color: black;
 }

 /* main camera section */
 .camera{
    display: flex;
    gap: 80px;
 }
 .camera-info{
    font-size: 16px;
    color: gray;
    
 }
 .main-camera{
    background-color: beige;
    border-radius: 300px;

 }
 .button{
    height: 50px;
    color: white;
    background-color:orangered;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 10px;
      }
    /* web site section */
.websites{
    display: flex;
    gap: 50px;
    justify-content: center;
}
hr{
    border: 1px solod gray;
    margin: 50px 50px;
}

/* popular collection */
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    align-items: center;
    margin: 0 300px;
                  }
.collection-title{
text-align: center;
margin: 50px;
                 }      
.popular-collection .main-div{
    box-shadow: 20px 20px 20px lightgray;
    margin-bottom: 50px;
    margin-left: 50px;
}                            
.rating{
    display: flex;
    align-items: center;
    gap: 50px;
}

.rating .star{
    font-size: 10px;
}
.fa-star.filled{
    color: gold;
}
.fa-star.empty{
    color: gray;
}

/* featured class */

.featured{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
}

/* footer */

footer{
    background-color: black;
    height: 300px;
    text-align: center;
    padding: 30px;
    margin-top: 100px;
}
footer div{
    color: white;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 5px;

}
